* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b1a17;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  text-align: center;
  color: #ff8303;
}

.container {
  background-color: #f0e3ca;
  margin: 0 auto;
  width: 1024px;
  min-height: 640px;
}

.relative-wrapper {
  border: 1px solid #1b1a17;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: #ff8303;
  cursor: pointer;
}

.relative-info {
  width: 35%;
  padding: 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.relative-info-child {
  display: flex;
  justify-content: space-between;
}

.change {
  border: 1px solid #1b1a17;
  width: 100%;
  height: 320px;
}

.bg-selected {
  /* background-color: #ff8303; */
}

#orange {
}
#banana {
}

/************************************************************************/
.box-container {
  border: 3px solid red;
  width: 60%;
  height: 80%;
}

.box {
  opacity: 0.9;
  width: 60px;
  height: 50px;
  background-color: #a35709;
  text-align: center;

  color: #f0e3ca;
  border: 1px solid #1b1a17;
}

/***********************************************************************/
